


#kontakt{
    background-image: url('~/images/kontakt/1.jpg');
    background-size: cover;
    background-position-y: 20vh;
    background-attachment: fixed;
    height: 50vh;
    .container{
        height: 100%;
    }
    .row{
        height: 100%;
        align-items: center;
    }
    .col{
    
        align-items: center;
        flex-direction: column;
        color: white;
        font-weight: bold;
        svg{
            height: 50px;
            width: 50px;
            margin-bottom: 15px;
        }
    }
}